Source: gooroom-applauncher-plugin
Section: xfce
Priority: optional
Maintainer: Gooroom Maintainers <gooroom@gooroom.kr>
Build-Depends: debhelper (>= 9), autotools-dev, autoconf, automake, intltool, libtool, xfce4-dev-tools, xfce4-panel-dev, libglib2.0-dev, libgtk2.0-dev, libxfconf-0-dev, libgarcon-1-0-dev, libxfce4ui-1-dev
Standards-Version: 3.9.6

Package: gooroom-applauncher-plugin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Xfce4 panel plugin for finding and launching applications
